//## Colors

//### Primary

$violet: hsl(257, 40%, 49%);
$soft-magenta: hsl(300, 69%, 71%);

//## Typography

//### Headings

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
$font-primary: 'Poppins', sans-serif;

$font-weights: (
    "regular": 400,
    "semi-bold": 600
);

//### Body

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$font-secondary: 'Open Sans', sans-serif;
$font-weights: (
    "regular": 400
);
